@import url("../../base/css/main.css");

#orca_main
{
    width:100%;
}
/* #orca_main div.disignBoxFirst div.boxFirstHeader
{
	margin:0;
}
#orca_main div.disignBoxFirst div.boxContent
{
	border-bottom: 1px solid #D8D8D8;
} */